.form-field {
  background: #fff;
  padding: .5rem 1rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
}

.form-field--100 {
  box-sizing: border-box;
  width: 100%;
}

.form-buttons {
  margin-top: 1rem;
  text-align: center;
}



